html {
  position: relative;
  min-height: 100%; }

@media (min-width: 1408px) {
  .he-1 {
    height: 128px; }

  .he-2 {
    height: 256px; }

  .he-3 {
    height: 384px; }

  .he-4 {
    height: 512px; }

  .he-5 {
    height: 640px; }

  .he-6 {
    height: 768px; }

  .he-7 {
    height: 896px; }

  .he-8 {
    height: 1024px; }

  .he-9 {
    height: 1152px; }

  .he-10 {
    height: 1280px; }

  .he-11 {
    height: 1408px; }

  .wi-1 {
    width: 128px; }

  .wi-2 {
    width: 256px; }

  .wi-3 {
    width: 384px; }

  .wi-4 {
    width: 512px; }

  .wi-5 {
    width: 640px; }

  .wi-6 {
    width: 768px; }

  .wi-7 {
    width: 896px; }

  .wi-8 {
    width: 1024px; }

  .wi-9 {
    width: 1152px; }

  .wi-10 {
    width: 1280px; }

  .wi-11 {
    width: 1408px; }

  .le-1 {
    left: 128px; }

  .le-2 {
    left: 256px; }

  .le-3 {
    left: 384px; }

  .le-4 {
    left: 512px; }

  .le-5 {
    left: 640px; }

  .le-6 {
    left: 768px; }

  .le-7 {
    left: 896px; }

  .le-8 {
    left: 1024px; }

  .le-9 {
    left: 1152px; }

  .le-10 {
    left: 1280px; }

  .le-11 {
    left: 1408px; }

  .to-1 {
    top: 128px; }

  .to-2 {
    top: 256px; }

  .to-3 {
    top: 384px; }

  .to-4 {
    top: 512px; }

  .to-5 {
    top: 640px; }

  .to-6 {
    top: 768px; }

  .to-7 {
    top: 896px; }

  .to-8 {
    top: 1024px; }

  .to-9 {
    top: 1152px; }

  .to-10 {
    top: 1280px; }

  .to-11 {
    top: 1408px; }

  .ma-to-1 {
    margin-top: 128px; }

  .ma-to-2 {
    margin-top: 256px; }

  .ma-to-3 {
    margin-top: 384px; }

  .ma-to-4 {
    margin-top: 512px; }

  .ma-to-5 {
    margin-top: 640px; }

  .ma-to-6 {
    margin-top: 768px; }

  .ma-to-7 {
    margin-top: 896px; }

  .ma-to-8 {
    margin-top: 1024px; }

  .ma-to-9 {
    margin-top: 1152px; }

  .ma-to-10 {
    margin-top: 1280px; }

  .ma-to-11 {
    margin-top: 1408px; } }
@media (max-width: 1407px) {
  .he-1 {
    height: 9.0909090909vw; }

  .he-2 {
    height: 18.1818181818vw; }

  .he-3 {
    height: 27.2727272727vw; }

  .he-4 {
    height: 36.3636363636vw; }

  .he-5 {
    height: 45.4545454545vw; }

  .he-6 {
    height: 54.5454545455vw; }

  .he-7 {
    height: 63.6363636364vw; }

  .he-8 {
    height: 72.7272727273vw; }

  .he-9 {
    height: 81.8181818182vw; }

  .he-10 {
    height: 90.9090909091vw; }

  .he-11 {
    height: 100vw; }

  .wi-1 {
    width: 9.0909090909vw; }

  .wi-2 {
    width: 18.1818181818vw; }

  .wi-3 {
    width: 27.2727272727vw; }

  .wi-4 {
    width: 36.3636363636vw; }

  .wi-5 {
    width: 45.4545454545vw; }

  .wi-6 {
    width: 54.5454545455vw; }

  .wi-7 {
    width: 63.6363636364vw; }

  .wi-8 {
    width: 72.7272727273vw; }

  .wi-9 {
    width: 81.8181818182vw; }

  .wi-10 {
    width: 90.9090909091vw; }

  .wi-11 {
    width: 100vw; }

  .le-1 {
    left: 9.0909090909vw; }

  .le-2 {
    left: 18.1818181818vw; }

  .le-3 {
    left: 27.2727272727vw; }

  .le-4 {
    left: 36.3636363636vw; }

  .le-5 {
    left: 45.4545454545vw; }

  .le-6 {
    left: 54.5454545455vw; }

  .le-7 {
    left: 63.6363636364vw; }

  .le-8 {
    left: 72.7272727273vw; }

  .le-9 {
    left: 81.8181818182vw; }

  .le-10 {
    left: 90.9090909091vw; }

  .le-11 {
    left: 100vw; }

  .to-1 {
    top: 9.0909090909vw; }

  .to-2 {
    top: 18.1818181818vw; }

  .to-3 {
    top: 27.2727272727vw; }

  .to-4 {
    top: 36.3636363636vw; }

  .to-5 {
    top: 45.4545454545vw; }

  .to-6 {
    top: 54.5454545455vw; }

  .to-7 {
    top: 63.6363636364vw; }

  .to-8 {
    top: 72.7272727273vw; }

  .to-9 {
    top: 81.8181818182vw; }

  .to-10 {
    top: 90.9090909091vw; }

  .to-11 {
    top: 100vw; }

  .ma-to-1 {
    margin-top: 9.0909090909vw; }

  .ma-to-2 {
    margin-top: 18.1818181818vw; }

  .ma-to-3 {
    margin-top: 27.2727272727vw; }

  .ma-to-4 {
    margin-top: 36.3636363636vw; }

  .ma-to-5 {
    margin-top: 45.4545454545vw; }

  .ma-to-6 {
    margin-top: 54.5454545455vw; }

  .ma-to-7 {
    margin-top: 63.6363636364vw; }

  .ma-to-8 {
    margin-top: 72.7272727273vw; }

  .ma-to-9 {
    margin-top: 81.8181818182vw; }

  .ma-to-10 {
    margin-top: 90.9090909091vw; }

  .ma-to-11 {
    margin-top: 100vw; } }
.roww {
  width: 100%;
  display: block;
  position: relative; }

.block {
  display: block;
  position: absolute; }

/* ======== HEADER ======== */
.logo {
  float: left;
  width: 20% !important;
  margin-top: 20px;
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 1000; }
  @media (min-width: 1408px) {
    .logo {
      font-size: 2.1vw; } }
  @media (max-width: 1407px) {
    .logo {
      font-size: 3vw; } }

.social-icons {
  font-size: 2.2vw;
  vertical-align: middle; }

.fa-twitter,
.fa-facebook-square {
  margin-top: 30px;
  padding: 3px;
  float: right;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook-square:hover {
    color: #FAA61A; }

.fa-twitter {
  color: #ffffff; }

.fa-facebook-square {
  color: #ffffff; }

a {
  color: white;
  text-decoration: none; }

a:hover {
  color: #FAA61A; }

.tetris-figure {
  width: 100%;
  height: 100%; }
  .tetris-figure .grid-wrapper {
    width: 100%;
    height: 100%; }
  .tetris-figure .elementary-block {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    vertical-align: top; }
  .tetris-figure .elementary-block.transparent {
    cursor: pointer; }
  .tetris-figure .elementary-block.opaque {
    background-color: #706f6f; }

.map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; }
  .map svg path {
    shape-rendering: crispEdges; }
  .map .close-btn {
    position: absolute;
    z-index: 999;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 10px;
    color: white;
    font-size: 30px;
    cursor: pointer; }
  .map .close-btn:hover {
    color: yellow; }
  .map .close-btn:before {
    content: "\2715"; }

.leaflet-container.transparent {
  background-color: rgba(255, 0, 0, 0); }

.hidden {
  opacity: 0;
  z-index: -10; }

#finalmap {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh; }

html, body, div, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  font-family: "Anonymous Pro", sans-serif !important;
  color: white;
  background-color: #706f6f; }

img {
  display: block;
  width: 100%;
  height: 100%; }

.paragraph {
  hyphens: auto;
  -webkit-hyphens: auto;
  word-wrap: break-word; }

.link {
  border-bottom: 1px dashed white; }

@media (min-width: 1408px) {
  .main-content {
    margin: 0 auto;
    width: 1152px;
    background-size: 128px 128px; } }
@media (max-width: 1407px) {
  .main-content {
    margin-left: 9.0909090909vw;
    margin-right: 9.0909090909vw;
    width: 81.8181818182vw;
    background-size: 9.0909090909vw 9.0909090909vw; } }
@media (max-width: 699px) {
  .main-content {
    display: none; } }

.main-gridlines {
  border-right: solid #7b7a7a 1px;
  border-bottom: solid #7b7a7a 1px;
  background-image: linear-gradient(to right, #7b7a7a 1px, transparent 1px), linear-gradient(to bottom, #7b7a7a 1px, #706f6f 1px); }

h1 {
  font-weight: 800;
  vertical-align: top;
  line-height: 1.1; }
  @media (min-width: 1408px) {
    h1 {
      font-size: 130px; } }
  @media (max-width: 1407px) {
    h1 {
      font-size: 9.2329545455vw; } }

h3 {
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline;
  line-height: 1.45; }
  @media (min-width: 1408px) {
    h3 {
      font-size: 28px; } }
  @media (max-width: 1407px) {
    h3 {
      font-size: 1.9886363636vw; } }
  @media (max-width: 699px) {
    h3 {
      font-size: 3.2vw; } }

.top-margin {
  margin-top: 40px; }

@media (min-width: 1408px) {
  .bottom-margin {
    margin-bottom: 31px; } }
@media (max-width: 1407px) {
  .bottom-margin {
    margin-bottom: 2.2017045455vw; } }
@media (max-width: 699px) {
  .bottom-margin {
    margin-bottom: 10px; } }

.paragraph {
  line-height: 1.3; }
  @media (min-width: 1408px) {
    .paragraph {
      font-size: 20px; } }
  @media (max-width: 1407px) {
    .paragraph {
      font-size: 1.4204545455vw; } }

.incut {
  font-weight: 900;
  vertical-align: top;
  line-height: 1.3; }
  @media (min-width: 1408px) {
    .incut {
      font-size: 30px; } }
  @media (max-width: 1407px) {
    .incut {
      font-size: 2.1306818182vw; } }
  @media (max-width: 699px) {
    .incut {
      display: none; } }

.read-more {
  font-weight: 900;
  margin-top: 50px; }
  @media (min-width: 1408px) {
    .read-more {
      font-size: 20px; } }
  @media (max-width: 1407px) {
    .read-more {
      font-size: 1.4204545455vw; } }

.credits {
  font-weight: 800; }
  @media (min-width: 1408px) {
    .credits {
      font-size: 16px;
      line-height: 22px; }
      .credits .credits-job {
        width: 448px;
        padding-right: 25.6px; }
      .credits .credits-name {
        left: 448px;
        width: 448px;
        padding-left: 25.6px; } }
  @media (max-width: 1407px) {
    .credits {
      font-size: 1.1363636364vw;
      line-height: 1.8vw; }
      .credits .credits-job {
        width: 31.8181818182vw;
        padding-right: 1.8181818182vw; }
      .credits .credits-name {
        left: 31.8181818182vw;
        width: 31.8181818182vw;
        padding-left: 1.8181818182vw; } }

.small-caps {
  font-size: 18px;
  line-height: 22px;
  font-variant: small-caps;
  margin-bottom: 40px; }

/*------------------------------------------
------------ mobile version---------------*/
@media (min-width: 1408px) {
  .mob-container {
    display: none; } }
@media (max-width: 1407px) {
  .mob-container {
    display: none; } }
@media (max-width: 699px) {
  .mob-container {
    display: block;
    margin-left: 9.0909090909vw;
    margin-right: 9.0909090909vw;
    width: 81.8181818182vw;
    background-size: 9.0909090909vw 9.0909090909vw;
    background-image: linear-gradient(to right, #7b7a7a 1px, transparent 1px), linear-gradient(to bottom, #7b7a7a 1px, #706f6f 1px); } }

@media (max-width: 699px) {
  .mob-paragraph {
    font-size: 3vw;
    line-height: 3.4vw;
    margin-top: 9.0909090909vw;
    margin-left: 9.0909090909vw;
    width: 63.6363636364vw; } }

@media (max-width: 699px) {
  .mp-1 {
    height: 9.0909090909vw; } }

@media (max-width: 699px) {
  .mp-2 {
    height: 18.1818181818vw; } }

@media (max-width: 699px) {
  .mp-3 {
    height: 27.2727272727vw; } }

@media (max-width: 699px) {
  .mp-4 {
    height: 36.3636363636vw; } }

@media (max-width: 699px) {
  .mp-5 {
    height: 45.4545454545vw; } }

@media (max-width: 699px) {
  .mp-6 {
    height: 54.5454545455vw; } }

@media (max-width: 699px) {
  .mp-7 {
    height: 63.6363636364vw; } }

@media (max-width: 699px) {
  .mp-8 {
    height: 72.7272727273vw; } }

@media (max-width: 699px) {
  .mp-9 {
    height: 81.8181818182vw; } }

@media (max-width: 699px) {
  .mp-10 {
    height: 90.9090909091vw; } }

@media (max-width: 699px) {
  .mp-11 {
    height: 100vw; } }

@media (min-width: 1408px) {
  .mob-incut {
    display: none; } }
@media (max-width: 1407px) {
  .mob-incut {
    display: none; } }
@media (max-width: 699px) {
  .mob-incut {
    display: block;
    font-weight: 900;
    font-size: 3vw;
    line-height: 4vw;
    margin-left: 9.0909090909vw;
    width: 63.6363636364vw; } }

.img-container {
  font-size: 0; }

.mob-img1 {
  margin-left: 9.0909090909vw;
  width: 18.1818181818vw;
  height: 18.1818181818vw; }

.mob-img2 {
  margin-left: 9.0909090909vw;
  width: 18.1818181818vw;
  height: 18.1818181818vw; }

#footer {
  margin: 50px 0 auto auto;
  position: relative;
  bottom: 0;
  background-color: #080808;
  text-align: left;
  display: block; }
  @media (min-width: 1408px) {
    #footer {
      width: 100%;
      margin: 100px 0 auto auto; } }
  @media (max-width: 699px) {
    #footer {
      width: 100%;
      margin: 50px 0 auto auto; } }

@media (min-width: 1408px) {
  #footer-content {
    margin: 0 auto;
    max-width: 1280px; } }
@media (max-width: 699px) {
  #footer-content {
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px; } }

.links li {
  color: #fff; }
  @media (min-width: 1408px) {
    .links li {
      margin-left: 100px;
      font-size: 1vw;
      line-height: 2vw; } }
  @media (max-width: 699px) {
    .links li {
      display: none; } }

.copyright {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 1vw;
  line-height: 1.4vw;
  color: #fff; }
  @media (min-width: 1408px) {
    .copyright {
      font-size: 1vw;
      line-height: 1.4vw; } }
  @media (max-width: 1407px) {
    .copyright {
      font-size: 1.8vw;
      line-height: 2vw; } }

.copying-info {
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff; }
  @media (min-width: 1408px) {
    .copying-info {
      font-size: 0.8vw;
      line-height: 1.2vw; } }
  @media (max-width: 699px) {
    .copying-info {
      font-size: 1.8vw;
      line-height: 2vw; } }

.support-site:link,
.support-site:visited {
  color: #FAA61A !important;
  font-size: 1.2em; }

/*# sourceMappingURL=application.css.map */
