html {
  position: relative;
  min-height: 100%; }

/* ======== HEADER ======== */
.logo {
  position: fixed;
  width: 10%;
  float: left;
  margin: 15px 0px 0px 25px;
  z-index: 1000; }

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000; }

.fa-twitter,
.fa-facebook {
  padding: 5px;
  color: #8e8f91;
  float: right;
  margin: 5px 10px 0px 0px;
  cursor: pointer; }
  .fa-twitter:hover,
  .fa-facebook:hover {
    color: #FAA61A; }

/* ======== Footer ======== */
.weirdo-container {
  margin-bottom: 250px;
  display: table;
  width: 100%; }
  .weirdo-container .weirdo-left, .weirdo-container .weirdo-right {
    display: table-cell;
    vertical-align: top; }
  .weirdo-container .weirdo-right-inner {
    padding-top: 7px;
    padding-left: 40px; }
    .weirdo-container .weirdo-right-inner h2 {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2.5em;
      margin-left: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li > a {
      text-decoration: none; }
    .weirdo-container .weirdo-right-inner .breadcrumb > li + li:before {
      padding: 0; }
    .weirdo-container .weirdo-right-inner .breadcrumb {
      background: none;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      font-size: 1.5em;
      color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li {
        color: #58595b; }
      .weirdo-container .weirdo-right-inner .breadcrumb li.active {
        color: #faa619;
        text-decoration: underline; }
    .weirdo-container .weirdo-right-inner .numbers-table {
      display: table; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row {
        display: table-row; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row > div {
        padding-top: 10px; }
      .weirdo-container .weirdo-right-inner .numbers-table .table-row.last-row > div {
        padding-top: 70px; }
      .weirdo-container .weirdo-right-inner .numbers-table .number-left {
        display: table-cell;
        font-size: 20px;
        font-weight: 600;
        color: #faa619;
        min-width: 100px; }
      .weirdo-container .weirdo-right-inner .numbers-table .caption-right {
        display: table-cell;
        font-size: 1.5em;
        padding-left: 1em; }
        .weirdo-container .weirdo-right-inner .numbers-table .caption-right span {
          color: #ccc; }
  .weirdo-container .control-img-container {
    overflow: hidden;
    position: relative; }
  .weirdo-container .control-img {
    width: 100%;
    height: 100%; }
  .weirdo-container .frame-container {
    margin-top: 10px; }
  .weirdo-container .img-frame {
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }
  .weirdo-container .img-frame-overlay {
    outline: 999px solid rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 1000;
    background: transparent;
    border: 1px dashed white; }
  .weirdo-container .preload-container {
    overflow: hidden; }
  .weirdo-container .right {
    float: right; }
  .weirdo-container .left {
    float: left;
    text-align: right;
    padding-right: 7px; }
    .weirdo-container .left .caption {
      font-style: italic;
      color: #58595b; }
    .weirdo-container .left .number {
      font-size: 20px;
      font-weight: 600;
      color: #faa619; }
  .weirdo-container .chart-container {
    padding-top: 20px; }
  .weirdo-container .chart-svg-container {
    overflow: visible; }
  .weirdo-container .chart-left, .weirdo-container .top-axis-left {
    height: 1px;
    display: block; }
  .weirdo-container div.vertical-line {
    border-left: 2px solid white;
    position: absolute;
    width: 1px;
    left: 0;
    top: 0; }
  .weirdo-container svg, .weirdo-container text {
    font-family: "Open Sans", sans-serif; }
  .weirdo-container svg text {
    fill: #58595b;
    stroke: none;
    font-style: italic; }
  .weirdo-container svg {
    shape-rendering: crispEdges;
    overflow: visible; }
    .weirdo-container svg .axis path {
      display: none; }
    .weirdo-container svg .axis--x text {
      text-anchor: start; }
    .weirdo-container svg .tick line {
      stroke: #58595b;
      opacity: .3;
      stroke-width: 1;
      stroke-dasharray: 2,2; }
    .weirdo-container svg .line {
      fill: none;
      stroke-width: 1.5px;
      stroke-linecap: round;
      shape-rendering: auto; }
    .weirdo-container svg .line-right {
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-left {
      stroke: #faa619; }
    .weirdo-container svg .line-dashed {
      stroke-dasharray: 2, 4;
      stroke-width: 2px;
      stroke: #8c9494;
      stroke-opacity: 0.87; }
    .weirdo-container svg .line-declared {
      stroke: #faa619;
      stroke-width: 2.5px; }
    .weirdo-container svg path.line-annotation, .weirdo-container svg #arrowhead {
      stroke: #8c9494;
      stroke-opacity: 0.87;
      fill: none;
      shape-rendering: auto; }
    .weirdo-container svg circle {
      fill: #8c9494;
      fill-opacity: 0.87;
      shape-rendering: auto; }
    .weirdo-container svg .area-left {
      fill: #faa619;
      fill-opacity: 0.5; }
    .weirdo-container svg .area-right {
      fill: #faa619;
      fill-opacity: 0.3; }
    .weirdo-container svg .area-dashed {
      fill: #8c9494;
      fill-opacity: 0.1; }
  .weirdo-container svg.svg-frame-overlay path {
    stroke: white;
    stroke-width: 2px;
    shape-rendering: auto; }
  .weirdo-container .top-axis-container {
    margin-top: 6px; }
  .weirdo-container .top-axis-left .caption {
    margin-top: -8px; }
  .weirdo-container svg.top-axis {
    overflow: visible; }
    .weirdo-container svg.top-axis text {
      text-anchor: start; }
    .weirdo-container svg.top-axis path, .weirdo-container svg.top-axis line {
      fill: none;
      stroke: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "Anonymous Pro", sans-serif !important;
  color: white;
  background: #414141; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .main-content {
    margin: 0 auto;
    width: 1280px;
    background-size: calc(1280px / 9) calc(1280px / 9);
    background-image: linear-gradient(to right, #585858 0.25px, transparent 1px), linear-gradient(to bottom, #585858 1px, #464646 0.25px); } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .main-content {
    width: 100%;
    background-size: calc(100vw / 9) calc(100vw / 9);
    background-image: linear-gradient(to right, #585858 1px, transparent 1px), linear-gradient(to bottom, #585858 1px, #414141 1px); } }

.roww {
  display: inline-block; }

.block {
  display: inline-block; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .img1 {
    width: calc(calc(1280px / 9) * 2);
    height: calc(calc(1280px / 9) * 2);
    margin-left: calc(calc(1280px / 9)  * 7); } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .img1 {
    width: calc(calc(100vw / 9) * 2);
    height: calc(calc(100vw / 9) * 2);
    margin-left: calc(calc(100vw / 9)  * 7); } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .height-2 {
    height: calc(calc(1280px / 9) * 2); } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .height-2 {
    height: calc(calc(100vw / 9) * 2); } }

.empty_cell {
  height: calc(100vw / 10); }

h1 {
  font-weight: 800; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    h1 {
      font-size: 151px;
      line-height: 150px;
      margin-left: calc(1280px / 9);
      margin-top: calc(-1280px / 9);
      vertical-align: top; }
      h1 h1:first-line {
        line-height: 160px; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h1 {
      width: calc(calc(100vw / 9) * 4);
      font-size: 11vw;
      line-height: 11vw;
      margin-left: calc(100vw / 9);
      margin-top: calc(-100vw / 9);
      vertical-align: top; } }

.img2 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img2 {
      width: calc(calc(1280px / 9) * 3);
      height: calc(calc(1280px / 9) * 2);
      margin-top: calc(1280px / 9); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img2 {
      width: calc(calc(100vw / 9) * 3);
      height: calc(calc(100vw / 9) * 2);
      margin-top: calc(100vw / 9); } }

h3 {
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    h3 {
      font-size: 35px;
      line-height: 50px;
      width: calc(calc(1280px / 9) * 5);
      margin-top: calc(calc(1280px / 9) - 5px);
      margin-bottom: calc(1280px / 9);
      margin-left: calc(calc(1280px / 9) - 8px); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    h3 {
      font-size: 3.1vw;
      line-height: 4.7vw;
      width: calc(calc(100vw / 9) * 4.8 - 8px);
      margin-top: calc(100vw / 9);
      margin-bottom: calc(100vw / 9);
      margin-left: calc(calc(100vw / 9)); } }

.img3 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img3 {
      width: calc(1280px / 9);
      height: calc(calc(1280px / 9) * 3);
      margin-top: calc(calc(1280px / 9) * 3); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img3 {
      width: calc(100vw / 9);
      height: calc(calc(100vw / 9) * 3);
      margin-top: calc(calc(100vw / 9) * 3); } }

.top-margin {
  margin-top: 40px; }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .bottom-margin {
    margin-bottom: 40px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .bottom-margin {
    margin-bottom: 5vw; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .paragraph {
    margin-top: calc(calc(1280px / 9) * 2 - 8px);
    margin-left: calc(calc(1280px / 9) - 8px);
    width: calc(calc(1280px / 9) * 3);
    height: calc(calc(1280px / 9) * 6);
    font-size: 21px;
    line-height: 32px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .paragraph {
    margin-top: calc(calc(100vw / 9) * 2);
    width: calc(calc(100vw / 9) * 3);
    margin-left: calc(calc(100vw / 9));
    font-size: 2.9vw;
    line-height: 3.8vw; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .incut {
    margin-top: calc(calc(1280px / 9) * 3);
    margin-left: calc(calc(1280px / 9) - 8px);
    width: calc(calc(1280px / 9) - 15px);
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .incut {
    margin-top: calc(calc(100vw / 9) * 3);
    margin-left: calc(calc(100vw / 9) - 15px);
    width: calc(calc(100vw / 9) - 15px);
    vertical-align: top;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 900; } }

.img4 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img4 {
      margin-left: 8px;
      width: calc(calc(1280px / 9) * 2);
      height: calc(calc(1280px / 9) * 3);
      margin-top: calc(1280px / 9); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img4 {
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 3);
      margin-top: calc(100vw / 9); } }

.img5 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img5 {
      margin-left: calc(calc(1280px / 9) * 2);
      width: calc(calc(1280px / 9) * 2);
      height: calc(calc(1280px / 9) * 3);
      margin-top: calc(calc(1280px / 9) + 8px); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img5 {
      margin-left: calc(calc(100vw / 9) * 2);
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 3);
      margin-top: calc(100vw / 9); } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .incut2 {
    margin-top: calc(calc(1280px / 9) * 2 );
    margin-left: calc(calc(1280px / 9) - 8px);
    width: calc(calc(1280px / 9) * 4 - 15px);
    height: calc(1280px / 9);
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .incut2 {
    margin-top: calc(calc(100vw / 9) * 2);
    margin-left: calc(calc(100vw / 9) - 8px);
    width: calc(calc(100vw / 9) * 4 - 15px);
    height: calc(100vw / 9);
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900; } }

.img6 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img6 {
      margin-left: calc(calc(1280px / 9) * 6);
      width: calc(1280px / 9);
      height: calc(1280px / 9);
      margin-top: 0; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img6 {
      margin-left: calc(calc(100vw / 9) * 6);
      width: calc(100vw / 9);
      height: calc(100vw / 9);
      margin-top: 0; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .paragraph2 {
    margin-top: -8px;
    margin-left: calc(calc(1280px / 9) * 2);
    width: calc(calc(1280px / 9) * 3);
    height: calc(calc(1280px / 9) * 4);
    font-size: 21px;
    line-height: 32px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .paragraph2 {
    margin-top: 0;
    width: calc(calc(100vw / 9) * 3);
    margin-left: calc(calc(100vw / 9) * 2);
    font-size: 2.9vw;
    line-height: 3.8vw; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .incut3 {
    margin-top: calc(1280px / 9);
    margin-left: calc(calc(1280px / 9) * 2 - 8px);
    width: calc(calc(1280px / 9) * 2 - 8px);
    height: calc(1280px / 9);
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .incut3 {
    margin-top: calc(100vw / 9);
    margin-left: calc(calc(100vw / 9) * 2);
    width: calc(calc(100vw / 9) * 2 - 8px);
    height: calc(100vw / 9);
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900; } }

.img7 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img7 {
      margin-left: calc(1280px / 9);
      width: calc(calc(1280px / 9) * 3);
      height: calc(1280px / 9);
      margin-top: calc(calc(1280px / 9) + 5px); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img7 {
      margin-left: calc(100vw / 9);
      width: calc(calc(100vw / 9) * 3);
      height: calc(100vw / 9);
      margin-top: calc(100vw / 9); } }

.img8 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img8 {
      width: calc(calc(1280px / 9) * 2);
      height: calc(calc(1280px / 9) * 2);
      margin-top: calc(calc(1280px / 9) * 2); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img8 {
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 2);
      margin-top: calc(calc(100vw / 9) * 2); } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .paragraph3 {
    margin-top: calc(1280px / 9);
    margin-left: -6px;
    width: calc(calc(1280px / 9) * 3 - 8px);
    height: calc(calc(1280px / 9) * 7);
    font-size: 21px;
    line-height: 32px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .paragraph3 {
    margin-top: calc(100vw / 9);
    width: calc(calc(100vw / 9) * 3 - 8px);
    font-size: 2.9vw;
    line-height: 3.8vw; } }

.img9 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img9 {
      width: calc(calc(1280px / 9) * 2 - 5px);
      height: calc(calc(1280px / 9) * 2);
      margin-top: calc(calc(1280px / 9) * 5);
      margin-left: 0;
      margin-right: 0; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img9 {
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 2);
      margin-top: calc(calc(100vw / 9) * 5); } }

.img10 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img10 {
      width: calc(calc(1280px / 9) * 2 - 8px);
      height: calc(calc(1280px / 9) * 3);
      margin-top: 0;
      padding: 0; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img10 {
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 3);
      margin-top: 0; } }

.img11 {
  vertical-align: top; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .img11 {
      width: calc(calc(1280px / 9) * 2);
      height: calc(calc(1280px / 9) * 2);
      margin-top: calc(calc(1280px / 9) * 2);
      margin-left: calc(1280px / 9); } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .img11 {
      width: calc(calc(100vw / 9) * 2);
      height: calc(calc(100vw / 9) * 2);
      margin-top: calc(calc(100vw / 9) * 2);
      margin-left: calc(100vw / 9); } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .incut4 {
    margin-top: calc(calc(1280px / 9) * 2);
    margin-left: 0;
    width: calc(calc(1280px / 9) * 4);
    height: calc(1280px / 9);
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .incut4 {
    margin-top: calc(100vw / 9);
    margin-left: -8px;
    width: calc(calc(100vw / 9) * 4);
    height: calc(100vw / 9);
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900; } }

@media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
  .paragraph4 {
    margin-top: calc(1280px / 9);
    margin-left: calc(calc(1280px / 9) * 2);
    width: calc(calc(1280px / 9) * 3);
    height: calc(calc(1280px / 9) * 3);
    font-size: 21px;
    line-height: 32px; } }
@media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
  .paragraph4 {
    margin-top: calc(100vw / 9);
    width: calc(calc(100vw / 9) * 3);
    margin-left: calc(calc(100vw / 9) * 2);
    font-size: 2.9vw;
    line-height: 3.8vw; } }

.incut5 {
  text-align: center; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .incut5 {
      margin-top: calc(1280px / 9);
      margin-left: calc(1280px / 9);
      width: calc(calc(1280px / 9) * 7);
      height: calc(1280px / 9);
      vertical-align: top;
      font-size: 34px;
      line-height: 38px;
      font-weight: 900; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .incut5 {
      margin-top: calc(100vw / 9);
      margin-left: calc(100vw / 9);
      width: calc(calc(100vw / 9) * 7);
      height: calc(100vw / 9);
      vertical-align: top;
      font-size: 2vw;
      line-height: 2.7vw;
      font-weight: 900; } }

.about {
  font-weight: 800;
  text-align: right; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .about {
      margin-left: calc(calc(1280px / 9) * 2);
      width: calc(calc(1280px / 9) * 3);
      font-size: 16px;
      line-height: 22px; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .about {
      margin-left: calc(calc(100vw / 9) * 2);
      width: calc(calc(100vw / 9) * 3);
      font-size: 21px;
      line-height: 32px; } }

.about_names {
  font-weight: 800;
  text-align: left; }
  @media (max-width: 2570px), (max-width: 1440px), (max-width: 1285px) {
    .about_names {
      margin-left: 10px;
      width: calc(calc(1280px / 9) * 3);
      font-size: 16px;
      line-height: 22px; } }
  @media (max-width: 1024px), (max-width: 767px), (max-width: 374px) {
    .about_names {
      margin-left: calc(calc(100vw / 9) * 2);
      width: calc(calc(100vw / 9) * 3);
      font-size: 21px;
      line-height: 32px; } }

/*# sourceMappingURL=application.css.map */
