@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";

$rect: 1280px;
$cell: calc(#{$rect} / 9);

body {
  font-family: "Anonymous Pro", sans-serif!important;
  color:white;
  background: #414141;
}


.main-content {

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin: 0 auto;
    width:$rect;
    background-size: $cell $cell;
    background-image: linear-gradient(to right, #585858 1px, transparent 1px),
    linear-gradient(to bottom, #585858 1px, #414141 1px);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:100%;
    background-size: calc(100% / 9) calc(100vw / 10);
    background-image: linear-gradient(to right, #585858 1px, transparent 1px),
    linear-gradient(to bottom, #585858 1px, #414141 1px);
  }
}

.roww {
  display:inline-block;
}

.block {
  display:inline-block;
}

.img1 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 2);
    margin-left: calc(#{$cell}  * 7);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(100% / 9 * 2);
    height: calc(100vw / 11 * 2);
    margin-left: calc(100% / 9  * 7);
  }
}

.height-2 {

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    height: calc(#{$cell} * 2);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    height: calc(100vw / 11 * 2)!important;
  }
}

.empty_cell {
  height: calc(100vw / 11);
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {

  }
}

h1:first-line { line-height: 160px; }

h1 {

  //display:inline;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size:151px;
    font-weight: 800;
    line-height: 150px;
    margin-left:$cell;
    margin-top:calc(-#{$rect} / 9);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size:9.4vw;
    font-weight: 800;
    line-height: 9.5vw;
    margin-left: calc(100% / 9);
    margin-top: calc(-100vw / 11 + 10px);
  }
}



.img2 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 3);
    height: calc(#{$cell} * 2);
    margin-top: $cell;


  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(100% / 9 * 3);
    height: calc(100vw / 11 * 2)!important;
    margin-top: calc(100vw / 11 - 10px);
  }
}


h3 {

  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 35px;
    line-height: 50px;
    width: calc(#{$cell} * 5);
    margin-top: calc(#{$cell} - 5px)!important;
    margin-bottom: #{$cell}!important;
    margin-left: calc(#{$cell} - 8px);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 3.1vw;
    line-height: 4.7vw;
    width: calc(100% / 9 * 5);
    margin-top: calc(100vw / 11 - 15px)!important;
    margin-bottom: calc(100vw / 11)!important;
    margin-left: calc((100% / 9) - 8px);
  }
}


.img3 {


  vertical-align: top;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:$cell;
    height: calc(#{$cell} * 3)!important;
    margin-top: calc(#{$cell} * 2);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(100% / 9);
    height: calc(100vw / 11 * 3)!important;
    margin-top: calc(100vw / 11 * 2);
  }
}

p {
  margin-bottom: 40px;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 1.4vw;
    line-height: 2.5vw;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 3vw;
    line-height: 4vw;
  }
}

.paragraph {
  margin-top: calc(100% / 9);
  width: calc(100% / 9 * 3);
  margin-left: calc(100% / 9);
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {

  }

}

@media #{$brk-xlarge},
#{$brk-large},
#{$brk-medium} {

}

@media #{$brk-narrow},
#{$brk-spnarrow},
#{$brk-iphone} {

}



