@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";
@import "components/weirdo";

$rect: 1280px;
$cell: calc(#{$rect} / 9);
$narrow-cell: calc(100vw / 9);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}


body {
  font-family: "Anonymous Pro", sans-serif!important;
  color:white;
  background: #414141;
}


.main-content {

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin: 0 auto;
    width:$rect;
    background-size: $cell $cell;
    background-image: linear-gradient(to right, #7f7f7f 0.25px, transparent 1px),
    linear-gradient(to bottom, #7f7f7f 1px, #464646 0.25px);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:100%;
    background-size: $narrow-cell $narrow-cell;
    background-image: linear-gradient(to right, #585858 1px, transparent 1px),
    linear-gradient(to bottom, #585858 1px, #414141 1px);
  }
}

.roww {
  display:inline-block;
}

.block {
  display:inline-block;
}

.img1 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 2);
    margin-left: calc(#{$cell}  * 7);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 2);
    margin-left: calc(#{$narrow-cell}  * 7);
  }
}

.height-2 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    height: calc(#{$cell} * 2);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    height: calc(#{$narrow-cell} * 2);
  }
}

.empty_cell {
  height: calc(100vw / 10);
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {

  }
}

@media #{$brk-xlarge},
#{$brk-large},
#{$brk-medium} {


}

h1 {
  font-weight: 800;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size:151px;
    line-height: 150px;
    margin-left:$cell;
    margin-top:calc(-1280px / 9);
    vertical-align: top;
    h1:first-line {
      line-height: 160px;
    }
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 4);
    font-size:11vw;
    line-height:11vw;
    margin-left: #{$narrow-cell};
    margin-top: calc(-100vw / 9);
    vertical-align: top;
  }
}



.img2 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 3);
    height: calc(#{$cell} * 2);
    margin-top: $cell;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 3);
    height: calc(#{$narrow-cell} * 2);
    margin-top: $narrow-cell;
  }
}


h3 {
  text-transform: uppercase;
  font-weight: 800;
  vertical-align: baseline;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    font-size: 35px;
    line-height: 50px;
    width: calc(#{$cell} * 5);
    margin-top: calc(#{$cell} - 5px);
    margin-bottom: #{$cell};
    margin-left: calc(#{$cell} - 8px);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    font-size: 3.1vw;
    line-height: 4.7vw;
    width: calc(#{$narrow-cell} * 4.8 - 8px);
    margin-top: $narrow-cell;
    margin-bottom: $narrow-cell;
    margin-left: calc(#{$narrow-cell});
  }
}


.img3 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:$cell;
    height: calc(#{$cell} * 3);
    margin-top: calc(#{$cell} * 3);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:$narrow-cell;
    height: calc(#{$narrow-cell} * 3);
    margin-top: calc(#{$narrow-cell} * 3);
  }
}

.top-margin {
  margin-top: 40px;
}

.bottom-margin {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-bottom: 40px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-bottom: 5vw;
  }
}

.paragraph {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:calc(#{$cell} * 2 - 8px);
    margin-left:calc(#{$cell} - 8px);
    width: calc(#{$cell} * 3);
    height: calc(#{$cell} * 6);
    font-size: 21px;
    line-height: 32px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top: calc(#{$narrow-cell} * 2);
    width: calc(#{$narrow-cell} * 3);
    margin-left: calc(#{$narrow-cell});
    font-size: 2.9vw;
    line-height: 3.8vw;
  }
}

.incut {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:calc(#{$cell} * 3);
    margin-left: calc(#{$cell} - 8px);
    width:calc(#{$cell} - 15px);
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top:calc(#{$narrow-cell} * 3);
    margin-left: calc(#{$narrow-cell} - 15px);
    width:calc(#{$narrow-cell} - 15px);
    vertical-align: top;
    font-size: 2vw;
    line-height: 3vw;
    font-weight: 900;
  }
}

.img4 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left: 8px;
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 3);
    margin-top: $cell;

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 3);
    margin-top: $narrow-cell;

  }

}

.img5 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left:calc(#{$cell} * 2);
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 3);
    margin-top: calc(#{$cell} + 8px);

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-left:calc(#{$narrow-cell} * 2);
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 3);
    margin-top: $narrow-cell;

  }

}

.incut2 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:calc(#{$cell} * 2 );
    margin-left: calc(#{$cell} - 8px);
    width:calc(#{$cell} * 4 - 15px);
    height: $cell;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top:calc(#{$narrow-cell} * 2);
    margin-left: calc(#{$narrow-cell} - 8px);
    width:calc(#{$narrow-cell} * 4 - 15px);
    height: $narrow-cell;
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900;
  }
}

.img6 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left:calc(#{$cell} * 6);
    width:$cell;
    height: $cell;
    margin-top: 0;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-left:calc(#{$narrow-cell} * 6);
    width:$narrow-cell;
    height:$narrow-cell;
    margin-top: 0;

  }
}

.paragraph2 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:-8px;
    margin-left:calc(#{$cell} * 2);
    width: calc(#{$cell} * 3);
    height: calc(#{$cell} * 4);
    font-size: 21px;
    line-height: 32px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top: 0;
    width: calc(#{$narrow-cell} * 3);
    margin-left: calc(#{$narrow-cell} * 2);

    font-size: 2.9vw;
    line-height: 3.8vw;
  }
}

.incut3 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:$cell;
    margin-left: calc(#{$cell} * 2 - 8px);
    width:calc(#{$cell} * 2 - 8px);
    height: $cell;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top:$narrow-cell;
    margin-left: calc(#{$narrow-cell} * 2);
    width:calc(#{$narrow-cell} * 2 - 8px);
    height: $narrow-cell;
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900;
  }
}


.img7 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left:$cell;
    width:calc(#{$cell} * 3);
    height: $cell;
    margin-top: calc(#{$cell} + 5px);

  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-left:$narrow-cell;
    width:calc(#{$narrow-cell} * 3);
    height:$narrow-cell;
    margin-top: $narrow-cell;

  }

}

.img8 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 2);
    margin-top: calc(#{$cell} * 2);
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 2);
    margin-top: calc(#{$narrow-cell} * 2);
  }
}

.paragraph3 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top:$cell;
    margin-left: - 6px;
    width: calc(#{$cell} * 3 - 8px);
    height: calc(#{$cell} * 7);
    font-size: 21px;
    line-height: 32px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top: $narrow-cell;
    width: calc(#{$narrow-cell} * 3 - 8px);
    font-size: 2.9vw;
    line-height: 3.8vw;
  }
}

.img9 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2 - 5px);
    height: calc(#{$cell} * 2);
    margin-top: calc(#{$cell} * 5);
    margin-left: 0;
    margin-right: 0;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 2);
    margin-top: calc(#{$narrow-cell} * 5);
    //margin-left: calc(#{$cell} * 2);
  }
}

.img10 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2 - 8px);
    height: calc(#{$cell} * 3);
    margin-top: 0;

    padding:0;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 3);
    margin-top: 0;

  }
}

.img11 {
  vertical-align: top;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    width:calc(#{$cell} * 2);
    height: calc(#{$cell} * 2);
    margin-top: calc(#{$cell} * 2);
    margin-left:$cell;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    width:calc(#{$narrow-cell} * 2);
    height: calc(#{$narrow-cell} * 2);
    margin-top: calc(#{$narrow-cell} * 2);
    margin-left:$narrow-cell;
  }
}

.incut4 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top: calc(#{$cell} * 2);
    margin-left: 0;
    width:calc(#{$cell} * 4);
    height: $cell;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top:$narrow-cell;
    margin-left: -8px;
    width:calc(#{$narrow-cell} * 4);
    height: $narrow-cell;
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900;
  }
}

.paragraph4 {
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top: $cell;
    margin-left:calc(#{$cell} * 2);
    width: calc(#{$cell} * 3);
    height: calc(#{$cell} * 3);
    font-size: 21px;
    line-height: 32px;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top: $narrow-cell;
    width: calc(#{$narrow-cell} * 3);
    margin-left: calc(#{$narrow-cell} * 2);

    font-size: 2.9vw;
    line-height: 3.8vw;
  }
}

.incut5 {
  text-align: center;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-top: $cell;
    margin-left: $cell;
    width:calc(#{$cell} * 7);
    height: $cell;
    vertical-align: top;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
  }

  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-top:$narrow-cell;
    margin-left: $narrow-cell;
    width:calc(#{$narrow-cell} * 7);
    height: $narrow-cell;
    vertical-align: top;
    font-size: 2vw;
    line-height: 2.7vw;
    font-weight: 900;
  }
}

.about {
  font-weight: 800;
  text-align: right;

  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left: calc(#{$cell} * 2);
    width:calc(#{$cell} * 3);
    font-size: 16px;
    line-height: 22px;
  }
  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-left: calc(#{$narrow-cell} * 2);
    width:calc(#{$narrow-cell} * 3);

    font-size: 21px;
    line-height: 32px;
  }
}

.about_names {
  font-weight: 800;
  text-align: left;
  //text-transform: uppercase;
  @media #{$brk-xlarge},
  #{$brk-large},
  #{$brk-medium} {
    margin-left: 10px;
    width:calc(#{$cell} * 3);
    font-size: 16px;
    line-height: 22px;


  }
  @media #{$brk-narrow},
  #{$brk-spnarrow},
  #{$brk-iphone} {
    margin-left: calc(#{$narrow-cell} * 2);
    width:calc(#{$narrow-cell} * 3);
    font-size: 21px;
    line-height: 32px;

  }
}





