/* ======== HEADER ======== */

.logo {
  float: left;
  width:20%!important; //add
  margin-top: 20px;
  //margin-left: 20px;
  padding-top: 20px; //add
  text-transform: uppercase;
  font-weight: 900;
  z-index: 1000;
  @media #{$brk-fixed} {
    font-size: 2.1vw;
  }
  @media #{$brk-fluid}{
    font-size: 3vw;
  }
}

.social-icons {
    font-size:2.2vw;
    vertical-align: middle;

  }

.fa-twitter,
.fa-facebook-square {
  margin-top:30px;
  padding: 3px;
  float: right;
  //margin-right: 10px;
  cursor: pointer;
  &:hover{
    color: $orange;
  }
}

.fa-twitter {
  color: #ffffff;
}

.fa-facebook-square {
  color: #ffffff;
}


a {
  color: white;
  text-decoration: none;
  }

a:hover {
  color:$orange;
}
